<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.serviceModel>

    <services>
      <service name ="WindowsServiceNT.Service">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/Service"/>
          </baseAddresses>
        </host>

        <!-- Указание Адреса, Привязки, Контракта -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="WindowsServiceNT.IContract" />
      </service>
    </services>

  </system.serviceModel>
</configuration>